/* レスポンシブ完了スタイル */

@charset "utf-8";
/* ------------------PC版のページ 共通------------------ */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  font-family: 'Raleway';
}

.font {
  font-family: 'Lato';
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.header-inner {
  padding: 15px 0;
}

.thunder {
  float:left;
  color: gray;
  font-size: 60px;
}

.header a{
  float: right;
}

.header-contact {
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  transition: color .3s ease;
}

main {
  margin-top: 90px;
}

.bolt{
  background-color: #f2f2f2;
}

.bolt-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
  text-align: center;
}

.free {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

.section-first {
  background-color: #74cfae;
}

.section-first-inner {
  padding-top: 50px;
}

.section-first-left {
  float: left;
  width: 400px;
  text-align: center;
}

.section-first-right {
  float: right; 
  width: 650px;
  text-align: center;
  color: #fff;
}

.section-first-right h2 {
  font-size: 24px;
  margin-bottom:35px;
  color: #fff;
}

.section-first-right p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.images ul {
  display: flex;
  flex-wrap: wrap;
}

.article-text {
  margin-top: 90px;
  text-align: center;
}

.article p {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 500px;
}

.article-text a {
  display: inline-block;
  padding: 14px 20px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  margin-left: 90px;
  text-decoration:none;
  vertical-align: top;
  transition: color .3s ease;
}

.section-second-circle {
  background-color: #4e4e4e;
}

.section-second-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-second-circle h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.images-circle {
  display: flex;
  justify-content: center;
}

.images_img {
  box-sizing: border-box;
}

.images-circle figure {
  margin-left: 180px;
  text-align: center;
}

.images-circle figure:first-child {
  margin-left: 0;
}

.images-circle figcaption {
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-content {
  display: flex;
  justify-content: center;
}

.sns-content a{
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
  width: 185px;
  color:#74cfae;
  opacity: 0.7;
  transition: background-color .3s ease;
}

.sns-content a:hover {
  opacity: 1;
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  text-align: right;
  color: #fff;
}

/*　------------画面サイズ 1200px以上から適用------------　*/
@media screen and (min-width:1200px) {

  .menu {
    visibility: hidden;
  }

  .header a:hover {
    color: #333;
  }

  .images li {
    margin-left: 100px;
    margin-top:80px;
  }
  
  .images a {
    opacity: 0.7;
    transition: opacity .3s ease;
  }
  
  .images li:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .images li:nth-child(-n+3) {
    margin-top: 0;
  }

  .images li a:hover {
    opacity: 1;
  }

  .article-text a:hover {
    color: #333;
  }

  .sns-content a:hover {
    opacity: 1;
    background-color: #fff;
  }
}
 
/*　----------画面サイズ 768pxから1199pxまで適用----------　*/
@media screen and (min-width: 768px) and (max-width: 1199px) {

  .menu {
    visibility: hidden;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }

  .bolt-text {
    font-size: 80px;
  }

  .section-first-inner {
    padding-bottom: 25px;
  }

  .section-first-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section-first-right {
    float: none;
    text-align: center;
    width: 100%;
  }
  
  .section-first-right p {
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
  }

  .images ul {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .images a {
    opacity: 0.7;
  }

  .images li:nth-child(3n) {
    margin-bottom: 80px;
  }

  .images li:last-child {
    margin-bottom: 0;
  }

  .article-text {
    margin-top: 80px;
  }

  .article p {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    line-height: 25px;
  }
  
  .article-text a {
    margin-left: 0;
  }

  .images-circle  {
    display: inline-block;
  }

  .images-circle figure {
    text-align: center;
    margin-left: 0;
    margin-bottom: 88px;
  }

  .images-circle figure:last-child {
    margin-bottom: 0;
  }

  .sns-inner {
    padding: 200px 0;
  }
}

/* --------------画面サイズ 767pxまで適用--------------　*/
@media screen and (max-width: 767px) { 
  
  .inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }

  .header-contact {
    display: none;
  }
  
  .menu {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    color: gray;
    border-radius: 4px;
  }
  
  .bolt-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .bolt-text {
    font-size: 80px;
  }

  .section-first-inner {
    padding-bottom: 25px;
  }

  .section-first-left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section-first-right {
    float: none;
    text-align: center;
    width: 100%;
  }
  
  .section-first-right p {
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
  }
  
  .images ul {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .images a {
    opacity: 0.7;
  }

  .images li:nth-child(3n) {
    margin-bottom: 80px;
  }

  .images li:last-child {
    margin-bottom: 0;
  }
  
  .article-text {
    margin-top: 80px;
  }

  .article p {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    line-height: 25px;
  }
  
  .article-text a {
    margin-left: 0;
  }

  .images-circle  {
    display: inline-block;
  }

  .images-circle figure {
    text-align: center;
    margin-left: 0;
    margin-bottom: 88px;
  }

  .images-circle figure:last-child {
    margin-bottom: 0;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-content {
    display: inline-block;
  }
  
  .sns-content a{
    display: inline-block;
    min-width: 100%;
    padding: 30px 0;
  }
}
/* ------------------レスポンシブ対応------------------ */




