@charset "utf-8";

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);


/* 背景白のheader */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  z-index: 1;
  background-color: #fff;
}
/* 雷マーク */
.fas {
  float:left;
  color: gray;
  font-size: 60px;
}
/* content */
.header-contact {
  float: right;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  transition: color .3s ease;
  cursor: pointer;
}
.header-contact:hover {
  color: #333;
}
/* float使用のためclearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}



main {
  width: 100%;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}

/* Bolt Theme */
.bolt{
  background-color: #f2f2f2;
}
.bolt-inner {
  padding-top: 340px;
  padding-bottom: 250px;
}
.bolt-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
  text-align: center;
}
.free {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

/* section-first */
.section-first {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  float: left;
}
.section-first-text {
  float: right;
  width: 800px;
}
.section-first-text h2 {
  font-size: 24px;
  text-align: center;
  padding-bottom:35px;
  color: #fff;
}
.section-first-text p {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  word-break: break-all;
}

/* images */
.article {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}
.article-content h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}
.images {
  display: flex;
  margin: 0 auto;
}
.images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.images img {
  margin-left: 100px;
  margin-bottom:80px;
  opacity: 0.7;
  transition: opacity .3s ease;
}
.images img:first-child {
  margin-left: 0;
}
.images img:nth-child(4n) {
  margin-left: 0;
}
.images img:nth-child(n+4) {
  margin-bottom: 0;
}
.images img:hover {
  opacity: 1;
}
.article-text {
  margin-top: 90px;
}
.article-email {
  float: right;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  margin-left: 90px;
  text-decoration:none;
  transition: color .3s ease;
}
.article-email:hover {
  color: #333;
}
.article-content p {
  display: flex;
  text-align: center;
  word-break: break-all;
}


/* circle-images */
.section-second {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}
.section-second-circle h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.images-circle {
  display: flex;
}
.images_img {
  box-sizing: border-box;
  margin-bottom: 20px;
}
.images-circle div {
  margin-left: 160px;
  text-align: center;
}
.images-circle div:first-child {
  margin-left: 0;
}
.images-circle p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}


/* sns */
.sns {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sns-content{
  display: flex;
  justify-content: center;
}
.sns-icon {
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
  width: 185px;
  color:#74cfae;
  opacity: 0.7;
  transition: background .3s ease;
}
.sns-icon:hover {
  opacity: 1;
  background-color: #fff;
}


/* footer */
.footer {
  width: 100%;
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.footer-text {
  float: right;
  /* margin-left: 70%; */
  font-size: 8px;
  color: #fff;
}